* {
    box-sizing: border-box;
    /*max-height: 100vh;*/
}

html {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
}

.ligne {
    display : flex;
    /*flex-direction: row-reverse;*/
}

body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

.loading {
    background: center no-repeat url("/img/fond.png"), radial-gradient(white,#5ac5d4) !important;
    max-height: 100vh;
}

.overlay {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(110,110,110,0.3);
    z-index: 10;
}